
.wrapper {
  display: grid;
  grid-template-columns: 12rem 1.34fr;
  padding:  3.2rem;
}

@media (max-width: 54rem) {
  .html {
    font-size: 87.5%;
  }
  
  .wrapper {
    grid-template-columns: 0.3rem 1fr;
  }
}