.card {
    transition: all 0.3s ease-out;
    max-width: 64rem;
    border-radius: 12px;
    border-left: 5px solid #6c757d;
    border-right: 5px solid #6c757d;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 2.2rem;
    box-sizing: border-box;
    -webkip-font-smoothing: antialiased;
    font-size: 1rem;
    padding: 1.40rem 0.88rem;
    max-height: 14rem;
  }
  
  .card1 {
    transition: all 0.3s ease-out;
    max-width: 64rem;
    border-radius: 12px;
    border-left: 5px solid #6c757d;
    border-right: 5px solid #6c757d;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 2.2rem;
    -webkip-font-smoothing: antialiased;
    padding: 1.0rem 0.50rem;
    min-height: 34rem;
  }

  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
  }