.sidebar {

}

@media screen and (max-width: 54rem) {
  .sidebar {
    display: none;
  }
}

.cover {
  width: 16.2rem;
  height: 8rem;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 1.5rem - 6px);
  outline: 4px var(--green-500);
}

.avatar {
  width: calc(3rem + 14px);
  height: calc(3rem + 14px);

}
