.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
  }
  
  .card {
    margin: 6rem;
    padding: 2.2rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 12px;
    max-width: 510px;
    height: 430px;
    box-shadow: 7px 7px 13px 0px rgba(14, 13, 13, 0.22);
  
  }
  
  .card h2 {
      margin: 0 0 rem 0;
      font-size: 1.5rem;
    }
    
    .card p {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.5;
    }