.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 28%;
}