.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    color: rgb(0, 0, 0);
    background-color: #e9ecef;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    font-family: sans-serif;
    height: 50px;
    font-weight: 700;
    border-radius: 10px;
    font-size: 18px;
    max-width: 35rem;
  }

  .body {
    transition: all 0.3s ease-out;
    border-radius: 10px;
    border-left: 5px solid #6c757d;
    border-right: 5px solid #6c757d;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    -webkip-font-smoothing: antialiased;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 1.0rem
  }

  .column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
  }

  .titleBody1 {
    padding: 0.5rem;
    background-color: #f7f7f7;
  }

/*---------------------------------------------------------------------------------------------------------------*/
  .text {
    font-weight: 600;
    font-size: 16px;
    color: rgb(3, 3, 3);
  }

  .button2 {
    background-color: #17a2b8;
    color:'white';
    width: 210;
    height: 35;
    text-transform: none;
  }
  
  .button2:hover {
    background-color: #17a2b8;
    color:'white';
    width: 210;
    height: 35;
    text-transform: none;
  }
