
/*-----------------------------------------------  CORPO DE FUNDO  ------------------------------------------------------*/

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: rgb(0, 0, 0);
  background-color: #e9ecef;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  font-family: sans-serif;
  height: 50px;
  font-weight: 700;
  border-radius: 10px;
  font-size: 18px;
}

.body {
    padding: 0.6rem 1.0rem;
    transition: all 0.3s ease-out;
    background-color: #f8f9fa;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    -webkip-font-smoothing: antialiased;
    height: 60px;
    font-family: sans-serif;
    border: 1px solid rgba(0,0,0,.125);
}

.body2 {
  background-color: #f8f9fa;
  border: 1px solid rgba(0,0,0,.125);
  transition: all 0.3s ease-out;
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}
  
/*---------------------------------------------------------------------------------------------------------------------*/

.label {
  font-size: 12px;
  margin: 0px 0px 0px -8px
}

.text {
  font-weight: 600;
  font-size: 14px;
  color: rgb(3, 3, 3)
}

.select {
  background-color: white;
  border-radius: 10px;
}

.center {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  width: 550px;
}

.arredondamento {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.332);
}

.button1 {
  text-transform: none;
}

.button2 {
  background-color: #363836;
  color:'white';
  width: 210;
  height: 35;
  text-transform: none;
}

.button2:hover {
  background-color: #363836;
  color:'white';
  width: 210;
  height: 35;
  text-transform: none;
}
/*------------------------------------------  DIVISÃO DE COLUNAS  ------------------------------------------*/
.column1 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  margin: 20px;
}

.column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  grid-gap: 10px;
  margin: 5px;
}

.column > div.line {
  grid-column: 3;
  grid-row: 4 / 1;
  display: block;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  width: 520px;
}

/*---------------------------------------  INFORMAÇÕES ABAIXO DA IMAGEM  ----------------------------------------------*/

.tag {
  border-radius: 8px;
  font-size: 12px;
  margin: 0px 8px 0px 0px;
  color: #fff;
  padding: 6px 10px;
  text-transform: uppercase;
  background-color: green;
}

.tag2 {
  border-radius: 8px;
  font-size: 12px;
  margin: 0 8px 0px 0px;
  color: #fff;
  padding: 6px 10px;
  text-transform: uppercase;
  background-color: #a62121;
}

/*----------------------------------------------  IMAGENS PLACAS  -------------------------------------------------*/

.placa_moto {
  background-image: url('../../public/img/placa-moto.png');
  height: 274px;
  width: 282px;
  line-height: 70px;
  float: right;
}
 
.placa_carro {
    background-image: url('../../public/img/placa_carro.png');
    height: 174px;
    width: 500px;
    float: right;
}

.letra_placa {
  margin: 50px 0px 0px 100px;
  position: absolute;
  width: 500px;
  font-size: 82px;
  font-weight: 600;
}
/* ---------------------------------------------  RESPONSIVIDADE ---------------------------------------------- */

@media (max-width: 1000px) {
  .column {
    grid-template-columns: repeat(2, 1fr);
    display: block;
  }

  .column > div:nth-child(n + 1) {
    display: block;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .column > div.line {
    grid-column: auto;
    grid-row: auto;
    order: 0;
    margin: 0;
  }

  .title {
    padding: 0 10px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .body {
    display: block;
     align-items: center;
     justify-content: center;
     padding: 10px;
 }
 
 .body2 {
    display: block;
    align-items: center;
    padding: 0 10px;
    background-color: #f0f1f2;
    margin: 0;
    height: auto;
 }
}