
@font-face {
  font-family: 'FEEng___', ans-serif;
  src: url('/public/fonts/FEEng___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*.font-loaded {*/
/*  font-family: 'FEEng___', sans-serif;*/
/*}*/